.container {
  width: 60%;
  height: 200px;
  margin: auto;
  color: white;
  background-color: #2e0039;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container2 {
  width: 60%;
  margin: auto;
  color: grey;
}

.subtitle {
  padding-top: 20px;
  padding-left: 5%;
}
.subtitle h2 {
  margin-top: 0px;
}

.units {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 20%;
}
.dropdown select {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: #2e0039;
  width: 180px;
}
input {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: #2e0039;
  text-align: right;
  margin-right: 5px;
}

.favAndResult {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 20%;
}
.result {
  margin-right: 5px;
}
