body {
  font-family: "Poppins";
  height: 100%;
}
.title {
  text-align: center;
  font-weight: bold;
  color: #2e0039;
  border-bottom: 2px solid lightgrey;
}

@media (max-width: 800px) {
  .title {
    text-align: left;
    margin-left: 5%;
    font-weight: bold;
    color: #2e0039;
    border-bottom: 2px solid lightgrey;
  }
}
