.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 10px;
}
.favContainer {
  background-color: lightgrey;
  height: 35px;
  width: 48%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.favorite {
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  padding-top: 5px;
  padding-left: 10px;
}
.favContainer svg {
  margin: 0px;
  padding-top: 9px;
  padding-right: 20px;
}
.hiding {
  display: none;
}

@media (max-width: 800px) {
  .favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .favContainer {
    background-color: lightgrey;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
}
